* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* leyout dei blocchi  */
body {
    background-color: rgb(238, 238, 238);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: rgb(40, 40, 44);
}

header {
    background-color: white;
    height: 75px;
}

nav {
    background-color: white;
    margin: 20px auto 2px;
    width: 1000px;
    padding-left: 20px;
}

main {
    background-color: white;
    margin: 0 auto 2px;
    width: 1000px;
    padding: 20px;
 
}

section{
    padding-bottom: 16px;

}

ul {
    list-style-type: none;
    padding-left: 10px;

}

li {
    margin: 10px 0;
}

.task {
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
    color: white;
    border-radius: 10px;
    padding: 6px 8px;
    text-align: center;
}

.simble{
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
    font-size: 10px;
}


/* leyout dell'intestazione  */
.logo {
    vertical-align: bottom; 
    height: 75px;
}
.logo-text {
    display: inline-block;
    font-size: 60px;
    height: 75px;
    line-height: 75px;
    font-weight: bold;

}

/* leyout del nav  */
.botton {
    display: inline-block;
    padding: 5px;
    margin: 10px 2px;
    border-radius: 6px;
    text-align: center;
}

.add-task {
    background-color: rgb(77, 179, 243);
    color: white;
    b
}

.add-section {
    border: 2px solid lightgrey;
    color: lightgrey ;

}

/* leyout del main  */
h2 {
    font-size: 24px;
    color: #333;
}

.do {
    border: 1px solid green;
    color: green;
}

.dont {
    border: 1px solid red;
    color: red;
    padding-bottom: 2px;
}

.editorial {
    background-color: lightskyblue;
}

.q1-goals {
    background-color: magenta;
}

.recruiting {
    background-color: mediumaquamarine;
}

.mobile {
    background-color: orange;
}

.website {
    background-color: palevioletred;
}

.sales {
    background-color: greenyellow;
}

